# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

resources/
BulkyMIDI-32 Module/export/
BulkyMIDI-32 Extras/export/
adapters/BulkyMIDI-32 Amiga IDC/export/
adapters/Vertical Rotary Encoder/export/
faceplates/BulkyMIDI-32 FA1/export/
faceplates/BulkyMIDI-32 FA2/export/