# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

resources/
BulkyMIDI-32 Audio Switch/export/
BulkyMIDI-32 Audio Switch Panel/export/
BulkyMIDI-32 Channel/export/
BulkyMIDI-32 Channel Panel/export/
BulkyMIDI-32 Channel 2/export/
BulkyMIDI-32 Extras/export/
BulkyMIDI-32 Input Switch/export/
BulkyMIDI-32 Input Switch Panel/export/
BulkyMIDI-32 Internal/export/
BulkyMIDI-32 Internal Panel/export/
BulkyMIDI-32 Module/export/
BulkyMIDI-32 Module Panel/export/
BulkyMIDI-32 Play/export/
BulkyMIDI-32 Play Panel/export/
BulkyMIDI-32 VU SIDi/export/
BulkyMIDI-32 VU SIDi Panel/export/
adapters/BulkyMIDI-32 Amiga/export/
adapters/BulkyMIDI-32 Amiga IDC/export/
adapters/BulkyMIDI-32 Gameport/export/
adapters/BulkyMIDI-32 Gameport IDC/export/
adapters/BulkyMIDI-32 Wavetable/export/
adapters/MIDI Breakout Board/export/
adapters/BulkyMIDI-32 Mk7 Adapter/export/
adapters/Vertical Rotary Encoder/export/
faceplates/BulkyMIDI-32 Audio Switch FP1/export/
faceplates/BulkyMIDI-32 Input Switch FP1/export/
faceplates/BulkyMIDI-32 BA1/export/
faceplates/BulkyMIDI-32 FA1/export/
faceplates/BulkyMIDI-32 FA2/export/
faceplates/BulkyMIDI-32 FB1/export/
faceplates/BulkyMIDI-32 FB2/export/
faceplates/BulkyMIDI-32 Channel FP1/export/
faceplates/BulkyMIDI-32 Module FP1/export/
faceplates/BulkyMIDI-32 Module FP2/export/
faceplates/BulkyMIDI-32 Play FP1/export/
faceplates/BulkyMIDI-32 VU SIDi FP1/export/
software/arduino/SIDI/